.advantages {
  .flex();
}

.advantages__header {
  max-width: 520px;
  align-self: center;
  padding: 32px 24px 16px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.advantages__header-title {
  .text();
  margin-bottom: 35px;
}

.advantages__list {
  .list();

  &--illustrated {
    display: grid;
    grid-template-columns: minmax(180px, 282px);
    row-gap: 16px;
    justify-content: center;
    padding: 25px 18px 50px;

    @media (min-width: @tablet-width) {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      padding: 60px 30px;
      gap: 50px;
    }
  }

  &--background-blue {
    background-color: @main-color;
  }

  &--background-gray {
    background-color: #eeeeee;
  }
}

.advantages__list-city {
  padding-top: 20px;
  background-image: url("../img/down-directed-triangle.svg");
  background-position: top;
  background-size: 768px 37px;
  background-repeat: no-repeat;

  br {
    display: none;

    @media (min-width: 1140px) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    padding-top: 0;
    min-height: 256px;
    grid-template-columns: 1fr 2fr;
    background-image: none;
  }
}

.advantages__list-bridge {
  @media (min-width: @tablet-width) {
    display: grid;
    min-height: 256px;
    grid-template-columns: 2fr 1fr;
    background-image: none;
  }
}

.advantages__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.advantages__list-bridge .advantages__item-image {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.advantages__item {
  padding: 40px 18px 34px;

  @media (min-width: @tablet-width) {
    padding: 40px 32px 36px;
  }

  &--bordered:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;

    @media (min-width: @tablet-width) {
      padding: 50px 40px;
      border-bottom: none;
    }
  }

  &--bordered {
    padding: 24px 32px;

    @media (min-width: @tablet-width) {
      padding: 50px 40px;
      justify-content: flex-start;
    }
  }
}

.advantages__title {
  br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.advantages__number {
  .text();
  margin: 24px auto;
}

.advantages__item-image {
  padding: 0;
}

.advantages__item-illustrated__wrapper {
  display: grid;
  justify-items: start;
  grid-template-rows: auto 1fr;

  @media (min-width: @tablet-width) {
    justify-items: center;
  }
}

.advantages__item-illustrated {
  .text(left);
  display: grid;
  column-gap: 8px;
  grid-auto-flow: column;

  br {
    display: none;
  }

  &::before {
    display: block;
    width: 40px;
    height: 40px;
    background-position: left;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    content: "";
  }

  &--apartments::before {
    background-image: url("../img/apartments.svg");
  }

  &--food::before {
    background-image: url("../img/food.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/souvenirs.svg");
  }

  @media (min-width: @tablet-width) {
    .flex();
    align-items: center;
    padding: 0 4px;

    br {
      display: block;
    }

    &::before {
      margin: 0;
      height: 75px;
      width: 76px;
      background-size: 76px 75px;
    }
  }
}

.advantages__item-illustrated__title {
  margin-top: 10px;
  margin-bottom: 16px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin: 18px auto;

    br {
      display: block;
    }
  }
}

.advantages__item-illustrated__text {
  .text(left);

  br {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    max-width: 282px;
  }
}

.advantages__description {
  br {
    display: none;

    @media (min-width: 820px) {
      display: block;
    }
  }
}
