.advantages-item {
  .flex();
  justify-content: space-between;
}

.advantages-item__text {
  &--white {
    color: @white;
  }

  br {
    display: none;

    @media (min-width: @tablet-width) and (max-width: 1000px) {
      display: block;
    }
  }
}
