.advantages {
  .flex();
}

.advantages__header {
  max-width: 520px;
  align-self: center;
  padding: 34px 24px 16px;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.advantages__header-title {
  .text();
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.advantages__list {
  .list();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__image {
  display: block;
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 256px;
  }
}

.advantages__title {
  br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.advantages__number {
  .text();
  margin: 12px auto 16px;

  @media (min-width: @tablet-width) {
    margin: 12px auto 22px;
  }
}
