.advantages-item {
  .flex();
  justify-content: space-between;

  &--background-blue {
    background-color: @main-color;
  }

  &--background-gray {
    background-color: #eeeeee;
  }
}

.advantages-item__text {
  &--white {
    color: @white;
  }
}

.advantages-item__text--tablet-break {
  br {
    display: none;

    @media (min-width: @tablet-width) and (max-width: 1199px) {
      display: block;
    }
  }
}

.advantages-item__text--desktop-break {
  br {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}
