.booking__wrapper {
  .flex();
  align-items: center;
  padding: 40px 18px 50px;

  @media (min-width: @tablet-width) {
    padding: 60px 140px;
  }
}

.booking__title {
  font-size: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.booking__description {
  .text();
  margin: 22px 0 28px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin: 30px 0 43px;

    br {
      display: block;
    }
  }
}

.booking__button {
  @media (min-width: @tablet-width) {
    padding: 0 136px;
  }
}
