.catalog-card {
  .flex();

  &__wrapper {
    padding: 24px 20px;
    margin: auto;
  }

  &__content-wrapper {
    .flex();
    align-items: flex-start;
  }

  &__image {
    display: block;
  }

  &__title {
    margin: 15px 0;
  }

  &__author {
    color: #333333;
    margin-bottom: 10px;
  }

  &__like-button {
    display: flex;
    padding: 0;
    border: none;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
  }

  &__like-button__icon {
    margin-right: 14px;
    opacity: 0.3;
  }

  &__like-button__icon:hover {
    opacity: 1;
  }

  &__like-button__icon:active {
    opacity: 0.6;
  }

  &__likes-amount {
    font-size: 14px;
    line-height: 21px;
  }
}
