.catalog__header {
  padding: 30px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog__title {
  margin-bottom: 30px;
}

.catalog__list {
  .list();
  padding-top: 20px;
  align-items: center;
}

.catalog__item {
  border-bottom: 1px solid #e5e5e5;
  align-self: stretch;
}
