.catalog__header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding: 66px 0;
    margin-bottom: 15px;
    border-bottom: none;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.catalog__description {
  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    br {
      display: block;
    }
  }
}

.catalog__list {
  .list();
  padding: 0;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    padding: 0 60px;
    margin-bottom: 60px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  border-bottom: 1px solid #e5e5e5;
  align-self: stretch;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0;
    border-bottom: none;
  }
}
