.footer__wrapper {
  padding: 40px 20px 20px;
}

.footer__title {
  .text();
  font-size: 21px;
  margin-bottom: 33px;
}

.footer__social {
  .list();
  padding: 0 40px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: center;
}

.footer__developer-link {
  .text();
  .flex(row);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: @main-color;
  }

  &:active {
    color: #b3b3b3;
  }
}
