.form__header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 60px 165px;
    border-bottom: none;
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 60px 380px;
  }
}

.form__title {
  margin: 36px 0 24px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.form__description {
  margin-bottom: 28px;
}
