.intro {
  background-color: #adcbe9;
  background-image: url("../img/intro-triangle.svg"), url("../img/sedona-background.jpg");
  background-size: auto, cover;
  background-position: bottom center, center;
  background-repeat: no-repeat;
}

.intro__image {
  display: block;
  padding: 90px 0 85px;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: @tablet-width) {
    padding: 78px 0 90px;
    width: 461px;
    height: auto;
  }
}
