.list() {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.text(@align: center) {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: @align;
}

.flex(@direction: column) {
  display: flex;
  flex-direction: @direction;
}

.radio-check {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}
