.page-main__secondary__intro {
  background-color: #adcbe9;
  background-image: url("../img/intro-triangle.svg"), url("../img/sedona-background.jpg");
  background-size: auto, cover;
  background-position: bottom center, center;
  background-repeat: no-repeat;
}

.page-main__secondary__intro-image {
  display: block;
  padding: 60px 0;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: auto;
    padding: 95px 0 117px;
  }
}
