.page-header {
  display: flex;
  width: 100%;
  min-height: 56px;
  margin: 0 auto;
  padding: 17px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-header__navigation {
  display: flex;
  width: 100%;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-left: auto;
}
