.page-main {
  &__secondary__intro {
    background-color: #adcbe9;
    background-image: url("../img/intro-triangle.svg"), url("../img/sedona-background.jpg");
    background-size: auto, cover;
    background-position: bottom center, center;
    background-repeat: no-repeat;
  }

  &__secondary__intro-image {
    display: block;
    padding: 60px 0;
    margin: 0 auto;
  }
}
