.presentation__wrapper {
  padding: 20px;
}

.presentation__description {
  padding: 0 20px;
  margin: 40px 0;

  br {
    display: none;
  }

  @media (min-width: 540px) {
    padding: 0;

    br {
      display: block;
    }
  }
}

.presentation__title {
  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.presentation__video-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.presentation__video-link:hover + .presentation__video-button {
  opacity: 1;
}

.presentation__video-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.presentation__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 48px;
  height: 54px;
  border: none;
  transform: translate(-50%, -50%);
  background-color: transparent;
  opacity: 0.7;
  cursor: pointer;

  &:active {
    opacity: 0.4;
  }

  &:focus-visible {
    outline: 2px solid @button-active;
  }
}

.presentation__text-wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 120px;
  }
}
