@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}
.description {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}
.title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .title {
    font-size: 21px;
  }
}
.button {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 0 50px;
  border: none;
  line-height: 58px;
  text-decoration: none;
  color: #ffffff;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .button {
    font-size: 21px;
  }
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
}
.advantages__header {
  max-width: 520px;
  margin: 0 auto;
  padding: 32px 24px 16px;
}
@media (min-width: 768px) {
  .advantages__header {
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .advantages__header {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.advantages__header-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.advantages__list--illustrated {
  display: grid;
  grid-template-columns: minmax(180px, 282px);
  row-gap: 16px;
  justify-content: center;
  padding: 25px 18px 50px;
}
@media (min-width: 768px) {
  .advantages__list--illustrated {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 60px 30px;
    gap: 50px;
  }
}
.advantages__list--background-blue {
  background-color: #81B3D2;
}
.advantages__list--background-gray {
  background-color: #eeeeee;
}
.advantages__list-city {
  background-image: url("../img/down-directed-triangle.svg");
  background-position: top;
  background-size: 768px 37px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__list-city {
    display: grid;
    min-height: 256px;
    grid-template-columns: 1fr 2fr;
    background-image: none;
  }
}
@media (min-width: 768px) {
  .advantages__list-bridge {
    display: grid;
    min-height: 256px;
    grid-template-columns: 2fr 1fr;
    background-image: none;
  }
}
@media (min-width: 768px) {
  .advantages__list-bridge .advantages__item-image {
    order: -1;
  }
}
.advantages__item {
  padding: 62px 18px 34px;
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 40px 32px 44px;
  }
}
.advantages__number {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}
.advantages__item-image {
  padding: 0;
  align-items: center;
}
.advantages__item-illustrated__wrapper {
  display: grid;
  justify-items: start;
  grid-template-rows: auto 1fr;
}
@media (min-width: 768px) {
  .advantages__item-illustrated__wrapper {
    justify-items: center;
    grid-template-rows: 1fr 1fr;
  }
}
.advantages__item-illustrated {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: left;
  display: grid;
  column-gap: 8px;
  grid-auto-flow: column;
}
.advantages__item-illustrated::before {
  display: block;
  width: 40px;
  height: 40px;
  background-position: left;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  content: "";
}
.advantages__item-illustrated--apartments::before {
  background-image: url("../img/apartments.svg");
}
.advantages__item-illustrated--food::before {
  background-image: url("../img/food.svg");
}
.advantages__item-illustrated--souvenirs::before {
  background-image: url("../img/souvenirs.svg");
}
@media (min-width: 768px) {
  .advantages__item-illustrated {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advantages__item-illustrated::before {
    margin: 0;
    height: 75px;
    width: 76px;
    background-size: 76px 75px;
  }
}
.advantages__item-illustrated__title {
  margin-top: 10px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__item-illustrated__title {
    margin: 18px auto;
  }
}
.advantages__item-illustrated__text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 768px) {
  .advantages__item-illustrated__text {
    text-align: center;
    max-width: 282px;
  }
}
.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advantages-item--bordered:not(:last-child) {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .advantages-item--bordered:not(:last-child) {
    margin-bottom: 0;
    padding: 50px 40px;
    border-bottom: none;
  }
}
.advantages-item--bordered {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .advantages-item--bordered {
    display: grid;
    padding: 50px 40px;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
  }
}
.advantages-item__text--white {
  color: #ffffff;
}
.advantages-places {
  padding: 24px 18px 0;
}
@media (min-width: 768px) {
  .advantages-places {
    display: grid;
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.booking__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 18px 50px;
}
@media (min-width: 768px) {
  .booking__wrapper {
    padding: 60px 160px;
  }
}
@media (min-width: 768px) {
  .booking__title {
    font-size: 30px;
  }
}
.booking__description {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}
@media (min-width: 768px) {
  .booking__button {
    padding: 0 120px;
  }
}
.feedback-form {
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .feedback-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 88px;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    padding: 0 120px;
  }
}
.feedback-form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  margin: 0;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border: none;
}
.feedback-form__fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .feedback-form__fieldset:not(:last-of-type) {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .feedback-form__fieldset {
    padding: 0;
    border: none;
  }
}
.feedback-form__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback-form__wrapper {
    display: grid;
    row-gap: 16px;
  }
}
@media (min-width: 768px) {
  .feedback-form__fieldset-reviewer {
    padding-right: 44px;
    padding-bottom: 20px;
    margin-right: -44px;
    border-right: 1px solid #d8d8d8;
  }
}
.feedback-form__fieldset-impression {
  grid-column: span 2;
}
@media (min-width: 768px) {
  .feedback-form__fieldset-impression {
    border-top: 1px solid #d8d8d8;
  }
}
@media (min-width: 768px) {
  .feedback-form__wrapper--impression {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 50px;
    row-gap: 16px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__wrapper--impression {
    grid-auto-flow: column;
    padding: 40px 0 60px;
  }
}
@media (min-width: 768px) {
  .feedback-form__wrapper--places {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    margin: 0 auto;
    column-gap: 100px;
    row-gap: 16px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__wrapper--places {
    grid-auto-flow: column;
    padding: 40px 0 60px;
  }
}
.feedback-form__fieldset-places {
  grid-column: span 2;
}
@media (min-width: 768px) {
  .feedback-form__fieldset-places {
    border-top: 1px solid #d8d8d8;
  }
}
.feedback-form__fieldset-freetext {
  grid-column: span 2;
}
@media (min-width: 768px) {
  .feedback-form__fieldset-freetext {
    border-top: 1px solid #d8d8d8;
  }
}
@media (min-width: 1200px) {
  .feedback-form__fieldset-freetext {
    padding: 0 94px;
  }
}
.feedback-form__fieldset-name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feedback-form__fieldset-name {
    font-size: 21px;
    padding: 0 50px;
  }
}
.feedback-form__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feedback-form__item-wrapper:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .feedback-form__item-wrapper:not(:last-child) {
    margin-bottom: 0;
  }
}
.feedback-form__button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .feedback-form__button-wrapper {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .feedback-form__button-wrapper {
    padding: 0 94px;
  }
}
.feedback-form__submit {
  padding: 0 48px;
}
.feedback-form__explanation {
  display: block;
  align-self: end;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
}
@media (min-width: 768px) {
  .feedback-form__explanation {
    align-self: unset;
    justify-self: end;
  }
}
.form-item {
  position: relative;
}
.form-item--radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-item--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-item__name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin-left: 16px;
  font-size: 14px;
}
.form-item__name--bold {
  font-weight: 700;
}
.form-item__input {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: left;
  padding: 18.5px;
  border: none;
  border-radius: 0;
  align-self: stretch;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #f2f2f2;
  outline: none;
}
.form-item__input:invalid {
  outline: 2px solid #d60303;
}
.form-item__input::placeholder {
  text-transform: none;
  line-height: 26px;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}
.form-item:hover .form-item__input {
  background-color: #e5e5e5;
}
.form-item:active .form-item__input {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
.form-item__input-radio {
  position: relative;
  padding: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.form-item:active .form-item__input-radio {
  background-color: #d5d5d5;
  outline: none;
}
.form-item--radio:active .radio:checked + .form-item__input::after {
  background-color: rgba(51, 51, 51, 0.3);
}
.form-item__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #e6e6e6;
  padding: 17.7px 20px;
}
.form-item__input-checkbox {
  width: auto;
}
.checkbox:checked + .form-item__input {
  background-image: url("../img/checkbox-tick.svg");
  background-position: center;
  background-size: 22px 16px;
  background-repeat: no-repeat;
}
.form-item:active .form-item__input-checkbox {
  background-color: #d5d5d5;
  outline: none;
}
.form-item--checkbox:active .checkbox:checked + .form-item__input {
  background-image: url("../img/checkbox-tick-active.svg");
}
.form-item__input-textarea {
  font-family: "PT Sans", sans-serif;
  resize: vertical;
}
.footer__wrapper {
  padding: 40px 20px 20px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    padding-left: 45px;
    padding-right: 43px;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 0;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 0 40px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__social {
    margin: 0;
  }
}
.footer__developer-link {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__developer-link {
    margin-bottom: 0;
  }
}
.footer__developer-link:hover {
  color: #81B3D2;
}
.footer__developer-link:active {
  color: #b3b3b3;
}
.form__header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 24px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__header {
    padding: 60px 165px;
    border-bottom: none;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .form__header {
    padding: 60px 380px;
  }
}
.form__title {
  margin: 36px 0 24px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 30px;
  }
}
.form__description {
  margin-bottom: 28px;
}
.intro {
  background-color: #adcbe9;
  background-image: url("../img/intro-triangle.svg"), url("../img/sedona-background.jpg");
  background-size: auto, cover;
  background-position: bottom center, center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .intro {
    background-position: 50% 101%, center;
  }
}
.intro__image {
  display: block;
  padding: 90px 0 85px;
  margin: 0 auto;
  box-sizing: content-box;
}
.navigation-toggle {
  display: flex;
  flex-direction: column;
  height: 22px;
  padding: 0;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}
.navigation-toggle:hover {
  opacity: 0.6;
}
.navigation-toggle:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .navigation-toggle {
    display: none;
  }
}
.navigation-toggle__line {
  display: block;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  transition: 0.3s;
}
.navigation-toggle__line-first--open {
  transform: rotate(45deg) translate3d(8px, 5px, 0);
  background-color: #ffffff;
}
.navigation-toggle__line-second--open {
  transform: scale(0);
}
.navigation-toggle__line-third--open {
  transform: rotate(-45deg) translate3d(8px, -5px, 0);
  background-color: #ffffff;
}
.navigation {
  background-color: #ffffff;
}
.navigation__toggle {
  margin-left: auto;
  margin-right: 20px;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.navigation__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #81B3D2;
  transition: 0.5s;
  z-index: 1;
}
.navigation__list--opened {
  transform: translateY(0);
}
.navigation__list--right-column.navigation__list--opened {
  transform: translateY(100%);
}
@media (min-width: 768px) {
  .navigation__list {
    position: static;
    display: flex;
    flex-direction: row;
    width: 40%;
    transform: none;
    background-color: transparent;
  }
}
.navigation__item {
  width: 100%;
  padding: 17px 0 12px;
  text-align: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.navigation__item--last {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .navigation__item {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .navigation__item--first {
    box-shadow: none;
  }
  .navigation__item--last {
    background: none;
    box-shadow: none;
  }
}
.navigation__link {
  display: block;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navigation__link {
    color: #000000;
    font-size: 14px;
  }
  .navigation__link:hover {
    color: #81B3D2;
  }
  .navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .navigation__link--current {
    color: #766357;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #f2f2f2;
  scroll-behavior: smooth;
}
.page__body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  scroll-behavior: smooth;
}
.page-main__secondary__intro {
  background-color: #adcbe9;
  background-image: url("../img/intro-triangle.svg"), url("../img/sedona-background.jpg");
  background-size: auto, cover;
  background-position: bottom center, center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .page-main__secondary__intro {
    background-position: 50% 101%, center;
  }
}
.page-main__secondary__intro-image {
  display: block;
  padding: 60px 0;
  margin: 0 auto;
  box-sizing: content-box;
}
.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 0;
  overflow-x: hidden;
  font-family: "PT Sans", sans-serif;
}
.page-header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 17px 0;
}
.page-header__navigation {
  display: flex;
  width: 100%;
}
.page-header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-left: auto;
}
.radio:checked + .form-item__input::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: block;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}
.radio:active {
  outline: none;
}
.map__iframe {
  border: 0;
  width: 100%;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container--open {
  display: block;
}
.modal-container__item {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-container__message {
  padding: 34px 42px;
}
.modal-container__title {
  margin-bottom: 35px;
}
.modal-container__description {
  padding: 0;
}
.modal-container__inner-wrapper {
  display: flex;
  padding: 20px;
}
.modal-container__inner-wrapper--grey {
  background-color: #e2e2e2;
}
.modal-container__button {
  margin: 0 auto;
  padding: 0 66px;
  cursor: pointer;
}
.catalog-card {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-card:first-child {
    grid-column: 1 / -1;
  }
}
.catalog-card__wrapper {
  padding: 24px 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-card__wrapper {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-card__wrapper {
    position: relative;
  }
}
.catalog-card__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .catalog-card__content-wrapper {
    display: grid;
    padding: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, min-content);
    background-color: #f2f2f2;
  }
  .catalog-card__content-wrapper--darkgrey {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .catalog-card__content-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0 0 0 / 30%);
    color: #ffffff;
  }
}
.catalog-card__image {
  display: block;
}
.catalog-card__title {
  margin: 15px 0;
}
@media (min-width: 768px) {
  .catalog-card__title {
    font-size: 14px;
    text-align: left;
    margin: 0;
  }
}
.catalog-card__author {
  color: #333333;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .catalog-card__author {
    grid-row: -1;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-card__author {
    color: #ffffff;
  }
}
.catalog-card__like-button {
  display: flex;
  padding: 0;
  border: none;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .catalog-card__like-button {
    grid-row: span 3;
    align-self: center;
    justify-self: end;
  }
}
@media (min-width: 1200px) {
  .catalog-card__like-button {
    color: #ffffff;
  }
}
.catalog-card__like-button__icon {
  margin-right: 14px;
  opacity: 0.3;
}
.catalog-card__like-button__icon:hover {
  opacity: 1;
}
.catalog-card__like-button__icon:active {
  opacity: 0.6;
}
@media (min-width: 1200px) {
  .catalog-card__like-button__icon {
    opacity: 1;
  }
  .catalog-card__like-button__icon:hover {
    opacity: 0.7;
  }
  .catalog-card__like-button__icon:active {
    opacity: 0.4;
  }
}
.catalog-card__likes-amount {
  font-size: 14px;
  line-height: 21px;
}
.catalog__header {
  padding: 30px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .catalog__header {
    padding: 60px 165px;
    border-bottom: none;
  }
}
.catalog__title {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .catalog__description {
    padding: 20px 220px;
  }
}
.catalog__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    padding: 0 60px;
    margin-bottom: 60px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
.catalog__item {
  border-bottom: 1px solid #e5e5e5;
  align-self: stretch;
}
@media (min-width: 768px) {
  .catalog__item {
    width: 100%;
    padding: 0;
    border-bottom: none;
  }
}
.presentation__wrapper {
  padding: 20px;
}
.presentation__description {
  padding: 0 20px;
  margin: 40px 0;
}
@media (min-width: 768px) {
  .presentation__title {
    font-size: 30px;
  }
}
.presentation__video {
  display: flex;
  position: relative;
  justify-content: center;
}
.presentation__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 48px;
  height: 54px;
  border: none;
  transform: translate3d(-50%, -50%, 0);
  background-color: transparent;
  background-image: url("../img/play-button.svg");
  background-size: 48px 54px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  cursor: pointer;
}
.presentation__video-button:hover {
  opacity: 1;
}
.presentation__video-button:active {
  opacity: 0.4;
}
@media (min-width: 768px) {
  .presentation__text-wrapper {
    padding: 0 120px;
  }
}
.modal-error {
  top: 116px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .modal-error {
    width: 400px;
  }
}
.modal-error__button {
  padding: 0 120px;
}
.modal-success {
  bottom: 30%;
  padding: 0;
}
@media (min-width: 768px) {
  .modal-success {
    width: 640px;
  }
}
@media (min-width: 768px) {
  .modal-success__message {
    padding: 34px 98px;
  }
}
.modal-success__button {
  padding: 0 140px;
}
.social-item {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 6px;
}
.social-item:not(:last-child) {
  margin-right: 6px;
}
.social-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #ffffff;
  background-color: #81B3D2;
}
.social-item__link:hover {
  background-color: #669ec0;
}
.social-item__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
/*# sourceMappingURL=style.css.map */
